$main-card_color: rgba(14, 77, 164, 0.5);
$second-card_color: rgba(14, 77, 164, 1);
$modal-card_color: rgba(38, 50, 56, 0.9);

$text_color: #ffffff;
$text-btn_color: #000000;

$btn-delete_color: #e74c3c;
$btn-edit-clear_color: #56ccf2;
$btn-card_color: #6fcf97;
$btn-new-card_color: #ffffff;
