.task {
  width: 328px;
  max-height: 150px;
  padding: 10px 15px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  border: 1px solid $btn-new-card_color;
  border-radius: 5px;
  font-family: Roboto-Regular, sans-serif;
  color: $text_color;

  &__title {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 6px;
  }

  &__info {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__date {
    font-size: 10px;
  }

  &__text {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 16px;
    overflow: scroll;
  }

  &-buttons__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
